<div class="col-xs-12 col-sm-12">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="row">
        <div class="column-image">
          <div>
            <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
